$breakpoint-mobile: 480px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop-min: 1000px;
$breakpoint-top-member-min: 1280px;
$breakpoint-home-noti: 1450px;
$breakpoint-desktop: 1650px;
$breakpoint-main-desktop: 1240px;

$col-default-text: #252525; //--color-neutral-90
$col-default-bg: #ffffff;
$col-blue: #2A40A2; //--color-indigo-300
$col-red: #F70808; //--color-red-400
$col-yellow: #FDE896; //--color-yellow-150
$col-green: #39C6BF; //--color-mint-400
$col-dark-green: #297A76; //--color-mint-600
$col-white: #ffffff;
$col-black: #000000;
$col-orange: #FFA947; //--color-orange-300
$col-dark-orange: #D47202; //--color-orange-500

$col-gray: #F7F7F7; //--color-neutral-20
$col-gray100: #EDEDED; //--color-neutral-30
$col-gray200: #d9d9d9; //--color-neutral-40
$col-gray300: #C8C9CB; //--color-gray-100
$col-gray350: #A4A4A4; //--color-neutral-60
$col-gray400: #4B4C4E; //--color-gray-600
$col-gray500: #5E5E5E;// --color-neutral-70
$col-gray600: #5F6063; //--color-gray-500

$col-disabled: #F2F2F3; //--color-gray-05
$col-menu-bg: #39C6BF; //--color-mint-400
$col-content-bg: #F7F7F8; //--color-gray-04
$search-form: #f7f7f7; //--color-neutral-20

$dark-col-default-text: #ffffff;
$dark-col-default-bg: #252525; //--color-neutral-90
$dark-col-white: #252525; //--color-neutral-90

$col-main-top-txt: #BCE4F7; //--color-lightblue-40
$col-main-txt: #123634; //--color-mint-900
$col-main-txt-over: #339994; //--color-mint-500

.col_red {
  color: #{$col-red};
}

.col_orange {
  color: #{$col-orange};
}

.col_orange_bold {
  color: #{$col-dark-orange};
}

.col_green {
  color: #{$col-green};
}

.col_yellow {
  color: #{$col-yellow};
}
