@charset "UTF-8";

.contents .conts-title{position:relative;border-bottom:solid 1px #d9d9d9;align-items:center;padding:20px 0 40px 0px}
.contents .conts-title h2{float:left;font-family:"KoreanAirSans";font-size:21px;color:var(--color-neutral-80);font-weight:700}
.contents .btn-area{position:relative;right:0;top:0;float:right}





 