@charset "UTF-8";

:root {
  --color-mblue-100:#0064de;
  --color-darkblue-100: #051766;
  --color-darkblue-80: #374585;
  --color-darkblue-60: #6974A3;
  --color-darkblue-40: #9BA2C2;
  --color-darkblue-20: #CDD1E0;
  --color-darkblue-10: #E6E7EF;
  --color-lightblue-100:#eef8fd;
  --color-lightblue-80:#eef8fd;
  --color-lightblue-60:#eef8fd;
  --color-lightblue-40:#eef8fd;
  --color-lightblue-20:#eef8fd;
  --color-lightblue-10:#eef8fd;
  --color-neutral-90:#252525;  
  --color-neutral-80:#333333;
  --color-neutral-70:#5E5E5E;
  --color-neutral-60:#A4A4A4;
  --color-neutral-50:#BDBDBD;
  --color-neutral-40:#D9D9D9;
  --color-neutral-30:#EDEDED;
  --color-neutral-20:#F7F7F7;
  --color-neutral-10:#FFFFFF;
  --color-positive: #28794E;
  --color-positive-bg:#F0FFF4;
  --color-Warning:#C84300;
  --color-Warning-BG:#FEF4E6;
  --color-negative:#DA291C;
  --color-negative-bg:#FFF5F5; 
 }

 body * {
  word-break: keep-all;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'KoreanAirSans';
  color: var(--color-neutral-70);
}