@charset "UTF-8";

:root {
  --color-darkblue100: #051766;
  --color-lightblue10:#eef8fd;
  --color-neutral10:#fff;
  --color-neutral20:#f7f7f7;
  --color-neutral30:#ededed;
  --color-neutral40:#d9d9d9;
  --color-neutral60:#a4a4a4;
  --color-neutral80:#333;
 }

 body * {
  word-break: keep-all;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'KoreanAirSans';
  line-height: 150%;
  color: var(--color-text-body, #051766);
}

.wrap {
  display: flex; 
  box-sizing: border-box; 
  height: calc(100vh - 0px);
  min-width: 320px;
}
.header {
  display: block;
  position: fixed; 
  top: 0; 
  min-width: 320px;
  width: 100%; 
  /*max-width: 1920px;*/
  height: 80px;
  border-bottom: 3px solid #051766;
  background-color: pink; 
  z-index: 9;
  padding: 0 24px;
}
.header .logo {
  float: left;
  width: 236px;
}
.header .logo .menu {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
  float: left;
}
.header .logo .top-logo a {
  display:inline-flex;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
}
.header .logo .top-logo a img {
  width: 30px;
  height: 40px;
  margin: 0 10px;
}
.header .logo .top-logo a span {
  color: var(--Dark-Blue-100, #051766);
  font-family: "KoreanAirSans";
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.header .GNB {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 28px 0;
}
.header .GNB .gnb-list li {
  float: left;
  margin: 0px 8px;
  padding: 0 20px;
  color: var(--Dark-Blue-100, #051766);
  font-family: "KoreanAirSans";
  font-size: 21px;
  font-style: normal;
  font-weight: normal;
}
.header .GNB .gnb-list li a.active {
  font-weight: 700;
}
.header .util {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.header .util .util-list li {
  float: left;
  margin: 0 3px;
}
.header .util .util-list .util-icon li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .util .util-list .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; 
  border: 1px solid #ddd; 
  border-radius: 30px; 
  height: 40px;
}
.header .util .util-list .btn a span {
  display: block;
  font-size: 16px;
  padding: 12px 20px;
}
.header .util .util-list .btn a span.active {

  color: #fff;
  background-color: #051766;
  border-radius: 999px;
  padding: 12px 20px;
}



.LNB {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  height: calc(100vh - 0px);
  /*margin-top: 80px;*/
  width: 100%;
  max-width: 260px;
  z-index: 1;
  overflow: hidden auto;
}
.LNB.hide {
  width: 0;
  transition: width 0.3s ease;
  overflow: hidden;
}
.LNB_side {
  background-color: #fff;
  border-right: 1px solid #D9D9D9;   
  overflow-y: scroll;
  width: 100%;
  margin-top: 80px;
}
.LNB_side::-webkit-Scrollbar {
  width:0.3em;
  height:0.3em
}
.LNB_side::-webkit-Scrollbar-thumb {
  border-radius:10px;
  background:var(--color-neutral60);
  -webkit-tap-highlight-color: transparent;
}
.LNB_side::-webkit-Scrollbar Track {
  border-radius:0px;
  background:var(--color-neutral30)
}
.LNB_list {
  padding: 12px;
}
.LNB_list li {
  font-family: 'KoreanAirSans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  color: var(--color-text-body, #051766);
  padding: 12px;
  border-bottom: 1px solid #D9D9D9;  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  flex-shrink: 0;
}
.LNB_list li a {
  width: 100%;
  background: url(../images/icon-arrow-up.svg) right center no-repeat;
}
.LNB_list li a.active {
  background: url(../images/icon-arrow-down.svg) right center no-repeat;
  font-weight: 700;
}
.LNB_list li .mu-2depth {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.LNB_list li .mu-2depth li {
  font-size: 16px;
  display: flex;
  padding: 8px 12px;
  align-items: flex-start;
  gap: var(--size-1, 4px);
  align-self: stretch;
  border: 0;
}
.LNB_list li .mu-2depth li a {
  background: none;
  border: none;
  color: var(--color-text-enabled, #5E5E5E);
}
.LNB_list li .mu-2depth li.active {
  border-radius: var(--radius-small, 8px);
  background: var(--color-background-container-highlight, #EEF8FD);
}
.LNB_list li .mu-2depth li.active a {
  color: var(--color-text-body, #051766);
  font-weight: 600;
}
.LNB_list li .mu-2depth li .mu-3depth {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.LNB_list li .mu-2depth li .mu-3depth li {
  background: url(../images/icon-dot.svg) no-repeat left center;
  border: none;
  font-size: 14px;
  color: var(--color-text-enabled, #5E5E5E);
  display: flex;
  padding: 8px 12px;
  align-items: flex-start;
  gap: var(--size-1, 4px);
  align-self: stretch; 
}
.LNB_list li .mu-2depth li .mu-3depth li a {
  color: var(--color-text-enabled, #5E5E5E);
  font-weight: normal;
}
.LNB_list li .mu-2depth li .mu-3depth li.active a {
  text-decoration-line: underline;
  color: var(--color-text-body, #051766);
  font-weight: 600;
}

.M-LNB {
  display: none;  
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 320px;
  height: 100vh;
}
.M-LNB .active {
  display: block;  
}
.M-LNB .m-lnb_side {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 24px;
}
.M-LNB .m-lnb_side .m-lnb_list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  padding: 24px;
  background-color: #fff;
}
.M-LNB .m-lnb_side .m-lnb_top_logo {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: left;
  align-items: center;
  float: left;
}
.M-LNB .m-lnb_side .m-lnb_top_logo a {
  display:inline-flex;
  justify-content: center;
  align-items: center;
}
.M-LNB .m-lnb_side .m-lnb_top_logo a img {
  width: 30px;
  height: 40px;
  margin: 0 10px;
}
.M-LNB .m-lnb_side .m-lnb_top_logo a span {
  color: var(--Dark-Blue-100, #051766);
  font-family: "KoreanAirSans";
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.m-lnb_top_util { 
  display: flex;
}
.m-lnb_top_btn .tab_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; 
  border: 1px solid #ddd; 
  border-radius: 30px; 
  height: 40px;
  margin-right: 10px;
}
.m-lnb_top_btn .tab_btn a span {
  display: block;
  font-size: 16px;
  padding: 12px 15px;
}
.m-lnb_top_btn .tab_btn a span.active {

  color: #fff;
  background-color: var(--Dark-Blue-100, #051766);
  border-radius: 999px;
  padding: 12px 20px;
}






.M-LNB .m-lnb_side .m-lnb_top_btn {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: right;
  align-items: center;
  float: right;
}
.M-LNB .m-lnb_side .m-lnb_menu {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
}
.M-LNB .m-lnb_side .m-lnb_menu .LNB_list::-webkit-Scrollbar {
  width:0.3em;
  height:0.3em
}
.M-LNB .m-lnb_side .m-lnb_menu .LNB_list {overflow-y: scroll; height:calc(100vh - 80px);}
.M-LNB .m-lnb_side .m-lnb_menu .LNB_list::-webkit-Scrollbar-thumb {
  border-radius:10px;
  background:var(--color-neutral60);
  -webkit-tap-highlight-color: transparent;
}
.M-LNB .m-lnb_side .m-lnb_menu .LNB_list::-webkit-Scrollbar Track {
  border-radius:0px;
  background:var(--color-neutral30)
}

.contents {
  flex: auto;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 2;
  min-width: 0;
  margin-top: 80px;
  padding: 24px;
  background-color: aquamarine;
}
.conts {
  height: 100%;
  background-color: #fff;
}