@charset "utf-8";

/* 대한항공 신 폰트 사용 보류*/
@font-face {
	font-family: 'KoreanAirSans';
  font-style:normal;
  font-weight:400;
		src: url('../fonts/KoreanAirSans-Regular_W.woff') format('woff'),
		url('../fonts/KoreanAirSans-Regular_W.woff2') format('woff2');  
}
@font-face {
	font-family: 'KoreanAirSans';
  font-style:normal;
  font-weight:700;
		src: url('../fonts/KoreanAirSans-Bold_W.woff') format('woff'),
		url('../fonts/KoreanAirSans-Bold_W.woff2') format('woff2');  
}
@font-face {
	font-family: 'KoreanAirSans';
  font-style:normal;
  font-weight:300;
		src: url('../fonts/KoreanAirSans-Light_W.woff') format('woff'),
		url('../fonts/KoreanAirSans-Light_W.woff2') format('woff2');  
}


/* 임시 NotoSans 사용 
@font-face {
	font-family: 'KoreanAirSans';
  font-style:normal;
  font-weight:300;
		src: url('../fonts/NotoSansKR-Light.woff') format('woff'),
		url('../fonts/NotoSansKR-Light.woff2') format('woff2'),
		url('../font/NotoSansKR-Light.ttf') format('truetype');  
}
@font-face {
	font-family: 'KoreanAirSans';
  font-style:normal;
  font-weight:400;
		src: url('../fonts/NotoSansKR-Regular.woff') format('woff'),
		url('../fonts/NotoSansKR-Regular.woff2') format('woff2'),
		url('../font/NotoSansKR-Regular.ttf') format('truetype');  
}
@font-face {
	font-family: 'KoreanAirSans';
  font-style:normal;
  font-weight:700;
		src: url('../fonts/NotoSansKR-Bold.woff') format('woff'),
		url('../fonts/NotoSansKR-Bold.woff2') format('woff2'),
		url('../font/NotoSansKR-Bold.ttf') format('truetype');  
}
		*/