@charset "UTF-8";

.wrap {
  display: flex; 
  box-sizing: border-box; 
  height: calc(100vh - 0px);
  min-width: 320px;
}
.header {
  display: block;
  position: fixed; 
  top: 0; 
  min-width: 320px;
  width: 100%; 
  /*max-width: 1920px;*/
  height: 88px;
  border-bottom: 3px solid var(--color-darkblue-100);
  z-index: 9;
  padding: 0 24px;
  background-color: var(--color-neutral-10); 
}
.header .logo {
  float: left;
  width: 236px;
}
.header .logo .menu {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
  float: left;
}
.header .logo .top-logo a {
  display:inline-flex;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
}
.header .logo .top-logo a img {
  width: 30px;
  height: 40px;
  margin: 0 10px;
}
.header .logo .top-logo a span {
  color: var(--color-darkblue-100);
  font-family: "KoreanAirSans";
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.header .GNB {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 28px 0;
}
.header .GNB .gnb-list li {
  float: left;
  margin: 0px 8px;
  padding: 0 20px;
}
.header .GNB .gnb-list li a{
  color: var(--color-darkblue-100);
  font-family: "KoreanAirSans";
  font-size: 21px;
  font-style: normal;
  font-weight: normal;
}
.header .GNB .gnb-list li a.active {
  font-weight: 700;
  color: var(--color-darkblue-100);
}
.header .util {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.header .util .util-list li {
  float: left;
  margin: 0 3px;
}
.header .util .util-list .util-icon li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .util .util-list .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-neutral-10); 
  outline: 1px solid var(--color-neutral-30);
  border-radius: 30px; 
  height: 40px;
}
.header .util .util-list .btn a span {
  display: block;
  font-size: 16px;
  padding: 12px 20px;
}
.header .util .util-list .btn a span.active {
  color: var(--color-neutral-10);
  background-color: var(--color-darkblue-100);
  border-radius: 999px;
  padding: 12px 20px;
}



.LNB {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  height: calc(100vh - 0px);
  /*margin-top: 80px;*/
  width: 100%;
  max-width: 260px;
  z-index: 10;
  overflow: hidden auto;
}
.LNB.hide {
  width: 0;
  transition: width 0.3s ease;
  overflow: hidden;
}
.LNB_menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 88px;
  background-color: var(--color-neutral-10); 
  padding: 24px;
  min-width: 320px;
}
.LNB_menu .m-lnb_top_logo {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: left;
  align-items: center;
  float: left;
}
.LNB_menu .m-lnb_top_logo a {
  display:inline-flex;
  justify-content: center;
  align-items: center;
}
.LNB_menu .m-lnb_top_logo a img {
  width: 30px;
  height: 40px;
  margin: 0 10px;
}
.LNB_menu .m-lnb_top_logo a span {
  color: var(--color-darkblue-100);
  font-family: "KoreanAirSans";
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.LNB_menu .m-lnb_top_btn {
  display: flex;
  position: absolute;
  right: 24px;
}
.LNB_menu .m-lnb_top_btn .tab_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-neutral-10);
  /*border: 1px solid #ddd; */
  outline: 1px solid var(--color-neutral-30);
  border-radius: 30px; 
  height: 40px;
  margin-right: 10px;
}
.LNB_menu .m-lnb_top_btn .tab_btn a span {
  display: block;
  font-size: 16px;
  padding: 12px 15px;
}
.LNB_menu .m-lnb_top_btn .tab_btn a span.active {
  color: var(--color-neutral-10);
  background-color: var(--color-darkblue-100);
  border-radius: 999px;
  padding: 12px 20px;
}
.LNB_menu .m-lnb_side .m-lnb_top_btn {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: right;
  align-items: center;
  float: right;
}
.LNB_menu .m-lnb_side .m-lnb_top_btn .close a {
  display: flex;
}


.LNB_side {
  background-color: var(--color-neutral-10); 
  border-right: 1px solid var(--color-neutral-40);  
  overflow-y: scroll;
  width: 100%;
  margin-top: 88px;
}
.LNB_side::-webkit-Scrollbar {
  width:0.3em;
  height:0.3em
}
.LNB_side::-webkit-Scrollbar-thumb {
  border-radius:10px;
  background:var(--color-neutral-60);
  -webkit-tap-highlight-color: transparent;
}
.LNB_side::-webkit-Scrollbar Track {
  border-radius:0px;
  background:var(--color-neutral-30)
}
.LNB_list {
  padding: 12px;
}
.LNB_list li {
  font-family: 'KoreanAirSans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  color: var(--color-darkblue-100);
  padding: 12px;
  border-bottom: 1px solid var(--color-neutral-40);  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  flex-shrink: 0;
}
.LNB_list li a {
  width: 100%;
  background: url(../images/icon-arrow-up.svg) right center no-repeat;
  color: var(--color-darkblue-100);
}
.LNB_list li a.active {
  background: url(../images/icon-arrow-down.svg) right center no-repeat;
  font-weight: 700;
}
.LNB_list li .mu-2depth {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.LNB_list li .mu-2depth li {
  font-size: 16px;
  display: flex;
  padding: 8px 12px;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  border: 0;
}
.LNB_list li .mu-2depth li a {
  background: none;
  border: none;
  color: var(--color-neutral-70);
}
.LNB_list li .mu-2depth li.active {
  border-radius: 8px;
  background: var(--color-lightblue-80);
}
.LNB_list li .mu-2depth li.active a {
  color: var(--color-darkblue-100);
  font-weight: 600;
}
.LNB_list li .mu-2depth li .mu-3depth {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.LNB_list li .mu-2depth li .mu-3depth li {
  background: url(../images/icon-dot.svg) no-repeat left center;
  border: none;
  font-size: 14px;
  color: var(--color-neutral-70);
  display: flex;
  padding: 8px 12px;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch; 
}
.LNB_list li .mu-2depth li .mu-3depth li a {
  color: var(--color-neutral-70);
  font-weight: normal;
}
.LNB_list li .mu-2depth li .mu-3depth li.active a {
  text-decoration-line: underline;
  color: var(--color-darkblue-100);
  font-weight: 600;
}
.LNB_bg.active {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .3);
  position: fixed;
  z-index: 5;
  display: none;
}
/*
.M-LNB {
  display: none;  
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 320px;
  height: 100vh;
}
.M-LNB .active {
  display: block;  
}
.M-LNB .m-lnb_side {
  position: relative;
  background-color: var(--color-neutral-10);
  width: 100%;
  height: 100%;
  padding: 24px;
}
.M-LNB .m-lnb_side .m-lnb_list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  padding: 24px;
  background-color: var(--color-neutral-10);
}
.M-LNB .m-lnb_side .m-lnb_top_logo {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: left;
  align-items: center;
  float: left;
}
.M-LNB .m-lnb_side .m-lnb_top_logo a {
  display:inline-flex;
  justify-content: center;
  align-items: center;
}
.M-LNB .m-lnb_side .m-lnb_top_logo a img {
  width: 30px;
  height: 40px;
  margin: 0 10px;
}
.M-LNB .m-lnb_side .m-lnb_top_logo a span {
  color: var(--color-darkblue-100);
  font-family: "KoreanAirSans";
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.m-lnb_top_util { 
  display: flex;
}
.m-lnb_top_btn .tab_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-neutral-10);
  border: 1px solid #ddd; 
  border-radius: 30px; 
  height: 40px;
  margin-right: 10px;
}
.m-lnb_top_btn .tab_btn a span {
  display: block;
  font-size: 16px;
  padding: 12px 15px;
}
.m-lnb_top_btn .tab_btn a span.active {

  color: var(--color-neutral-10);
  background-color: var(--color-darkblue-100);
  border-radius: 999px;
  padding: 12px 20px;
}

.M-LNB .m-lnb_side .m-lnb_top_btn {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: right;
  align-items: center;
  float: right;
}
.M-LNB .m-lnb_side .m-lnb_menu {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
}
.M-LNB .m-lnb_side .m-lnb_menu .LNB_list::-webkit-Scrollbar {
  width:0.3em;
  height:0.3em
}
.M-LNB .m-lnb_side .m-lnb_menu .LNB_list {overflow-y: scroll; height:calc(100vh - 80px);}
.M-LNB .m-lnb_side .m-lnb_menu .LNB_list::-webkit-Scrollbar-thumb {
  border-radius:10px;
  background:var(--color-neutral60);
  -webkit-tap-highlight-color: transparent;
}
.M-LNB .m-lnb_side .m-lnb_menu .LNB_list::-webkit-Scrollbar Track {
  border-radius:0px;
  background:var(--color-neutral-30);
}
*/
.contents {
  flex: auto;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 2;
  min-width: 0;
  margin-top: 80px;
  padding: 24px;
  background-color: var(--color-neutral-10);
}